#WebServices
gunicorn
Flask
#TinyBERT
#tqdm
#boto3
#requests
#torch
#scipy
#seaborn
torch==2.0.1+cpu  # Verifica la versión actual desde el sitio de PyTorch
torchvision==0.15.2+cpu
torchaudio==2.0.2+cpu
-f https://download.pytorch.org/whl/torch_stable.html